.about {
	padding: var(--100-indent) 0 165px 0;

	@media(max-width:1024px) {
		& {
			padding: var(--50-indent) 0;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;

		@media(max-width:1024px) {
			& {
				flex-direction: column-reverse;
			}
		}
	}

	&__media {
		width: 100%;
		position: relative;
	}

	&__img--hidden {
		@media(max-width:1024px) {
			display: none;
		}
	}

	&__video {
		display: inline-block;
		position: absolute;
		top: 32%;
		left: 22%;

		@media(max-width:1024px) {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		& svg {
			transition: transform ease-in-out 0.13s;
		}

		&:hover svg {
			transform: scale(1.3);
		}
	}

	&__info {
		margin-top: 64px;
		width: 100%;

		@media(max-width: 1024px) {
			& {
				margin-top: unset;
				margin-bottom: var(--40-indent);
			}
		}
	}

	&__text {
		font-size: clamp(var(--fz-16), 4vw, var(--fz-18));
	}

	&__link {
		@media(max-width:1024px) {
			text-align: center;
		}
	}
}
