[data-animation] {
	transition: all ease-in-out 0.5s;
}

.left-appearance {
	opacity: 0;
	visibility: hidden;
	transform: translateY(6rem);
}

.left-appearance-block {
	opacity: 0;
	visibility: hidden;
	transform: translateX(10rem);
}

.left-appearance-block2 {
	opacity: 0;
	visibility: hidden;
	transform: translateX(20rem);
}

.left-appearance-block3 {
	opacity: 0;
	visibility: hidden;
	transform: translateX(30rem);
}

.appearance-block4 {
	opacity: 0;
	visibility: hidden;
	transform: translateY(10rem);
}

.appearance-block5 {
	opacity: 0;
	visibility: hidden;
	transform: translateY(15rem);
}
