.burger {
	display: none;

	@media (max-width: 1024px) {
		position: fixed;
		top: 50px;
		right: 5%;
		width: 36px;
		height: 21px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		cursor: pointer;

		&__line {
			display: block;
			width: 20px;
			height: 3px;
			border-radius: 4px;
			background-color: #fff;

			&--min {
				width: 12px;
			}
		}
	}
}

.close {
	display: none;
	position: absolute;
	top: 16px;
	right: 7%;
	width: 24px;
	height: 24px;
	cursor: pointer;
	z-index: 100;

	&:hover span {
		background: #84998a;
	}

	&-line {
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		border-radius: 5px;
		background: #fff;
		transition: 0.15s;

		&:first-child {
			transform: translateY(-50%) rotate(45deg);
		}

		&:last-child {
			transform: translateY(-50%) rotate(-45deg);
		}
	}


	@media (max-width:1024px) {
		display: block;
	}
}

.modal__close {
	@media(max-width:4000px) {
		display: block;
	}
}
