button:focus-visible,
a:focus-visible,
input:focus-visible,
select:focus-visible {
	border-radius: 7px;
	// outline: solid 2px red;
	box-shadow: 0 0 7px var(--saffron);
	outline-offset: 3px;
	transition: .15s;
}

.container-flex {
	display: flex;

	&--space-btw {
		justify-content: space-between;
	}
}

.btn {
	padding: 16px 36px;
	display: inline-block;
	font-size: var(--fz-16);
	font-weight: 600;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s;

	@media(max-width:550px) {
		font-size: var(--fz-14);
	}

	&--bold {
		font-weight: 700;
	}

	&--white-text {
		color: var(--white);
	}

	&--green-text {
		background-color: var(--papa-green);
	}

	&--green-bg {
		background-color: var(--papa-green);

		&:hover {
			background-color: var(--papa-green-hover);
			box-shadow: 0px 0px 10px var(--papa-green-hover);
		}
	}

	&--white-bg {
		background-color: var(--white);

		&:hover {
			background-color: var(--white-hover);
			box-shadow: 0px 0px 10px var(--white-hover);
		}
	}
}

.choose-programm {
	padding: 40px 42px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 24px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.20);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(1px);

	@media(max-width: 1024px) {
		& {
			padding: 20px 22px;
		}
	}


	&__item {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 270px;
	}

	&__label {
		font-size: var(--fz-14);
		font-weight: 400;
		line-height: 150%;
		color: var(--white);
	}

	& select,
	& input {
		margin-bottom: 8px;
		padding: 14px 16px;
		font-size: var(--fz-16);
		font-weight: 700;
		border: solid 1px #fff;
		border-radius: 9px;
		color: #fff;
		background-color: transparent;
		cursor: pointer;

		@media(max-width:550px) {
			& {
				padding: 7px 8px;
				font-size: var(--fz-14);
				font-weight: 700;
			}
		}
	}

	input::placeholder {
		color: var(--white);
	}
}

.subtitle {
	margin-bottom: var(--8-indent);
	font-size: var(--fz-24);
	font-size: clamp(var(--fz-14), 6vw, var(--fz-24));

	font-weight: 400;
	line-height: 83.33%;
	color: var(--saffron);
}

.title {
	color: var(--cinder);
	font-size: clamp(var(--fz-18), 6vw, var(--fz-32));
	font-weight: 800;
	line-height: 120%;

	&-center {
		text-align: center;
	}
}

.grey-section {
	background-color: var(--black-haze);
}

.center-item {
	text-align: center;
}

.text-info {
	font-weight: 400;
	line-height: 150%;
	color: var(--cinder);

	&--fz-14 {
		font-size: 14px;
	}
}

.decrease-text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;

	&--row-12 {
		-webkit-line-clamp: 12;
	}

	&--row-4 {
		-webkit-line-clamp: 4;
	}

	&--row-3 {
		-webkit-line-clamp: 3;
	}
}

.address-links {
	font-size: var(--fz-14);
	font-weight: 400;
	font-style: normal;
	line-height: 143%;
	color: var(--white);
}

.media {
	@include flex-v-center;
	gap: 16px;

	li:focus {
		border-radius: 7px;
		outline: solid 2px red;
		outline-offset: 3px;
	}

	&__link {
		display: inline;

		svg {
			width: 32px;
			height: 32px;
			fill: var(--white);
			transition: fill ease-in 0.15s;
		}

		&:hover svg[data-name="telegram"] {
			fill: #2aabee;

		}

		&:hover svg[data-name="vk"] {
			fill: #0077ff;
		}

		&:hover svg[data-name="pinterest"] {
			fill: rgb(255, 104, 104);
		}

		&:hover svg[data-name="skype"] {
			fill: #009EDC;
		}
	}
}

.reset-btn {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 7px;
	font-size: 17px;
	text-transform: lowercase;
	border-radius: 5px;
	color: var(--saffron);

	&--hidden {
		opacity: 0;
		visibility: hidden;
	}
}

.arrow-link {
	margin-left: 15px;
	position: relative;
	column-gap: 10px;

	&--new {
		padding: 2px 10px;
		margin-left: 15px;
		width: fit-content;
		height: 100%;
		background-color: var(--white);
		color: var(--papa-green);
		font-size: 12px;
		font-weight: 700;
		line-height: 133.33%;
		text-transform: lowercase;
		border-radius: 4px;
		transition: all 0.2s;
	}

	&:hover .arrow-link--new {
		transform: scale(1.5);
		filter: blur(1);
		color: var(--saffron);
		background-color: var(--papa-green);
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		background-color: white;
		transition: width 0.2s;
	}

	svg {
		position: absolute;
		top: 50%;
		left: -15px;
		transform: translateY(-50%);
		width: 6px;
		height: 10px;
		fill: var(--white);
		transition: left 0.2s;
	}

	&:hover {
		color: var(--saffron);

		&::after {
			width: 100%;
			background-color: var(--saffron);
		}

		& svg {
			left: -8px;
			fill: var(--saffron);
		}
	}
}

.checkbox {
	display: flex;
	align-items: flex-start;
	column-gap: 8px;
	cursor: pointer;

	input[type="checkbox"] {
		display: none;
	}

	.checkbox-castom {
		display: inline-block;
		width: 15px;
		height: 15px;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 3px;
		transition: ease-in 0.2s;
	}

	input:checked+.checkbox-castom {
		background-color: #fff;
		border-radius: 5px;
	}
}

.mb-20 {
	margin-bottom: var(--20-indent);
}

.mb-40 {
	margin-bottom: var(--40-indent);

	@media(max-width:1024px) {
		& {
			margin-bottom: 24px;
		}
	}
}

.mb-50 {
	margin-bottom: var(--50-indent);
}
