.policy {
	padding: 24px 0;
	background-color: var(--cinder);

	&__container {
		@include flex-between-center;
		gap: 10px;
		font-size: var(--fz-14);
		font-weight: 600;
		line-height: 128.57%;
		color: var(--white);

		@media(max-width:710px) {
			font-size: 10px;
		}

		@media(max-width:430px) {
			justify-content: center;
			flex-wrap: wrap;
		}

		a {
			text-decoration: underline;
			transition: all 0.15s;

			&:hover {
				color: var(--saffron);
				text-decoration-color: var(--saffron);
			}
		}
	}
}
