<section class="about">
	<div
		class="container container-flex container-flex--space-btw about__container"
		data-animation>
		<div class="about__media">
			<div class="about__picture">
				<img class="about__img about__img--hidden layz-blur" src="img/about-1.jpg"
					srcset="img/about-1-lazy.jpg" data-src="img/about-1.webp"
					alt="Горы в облаках" loading="lazy">
			</div>
			<div class="about__video">
				<img class="about__img layz-blur" src="img/about-2.jpg"
					data-src="img/about-2.webp"
					srcset="img/about-2-lazy.jpg" alt="Дом в горах">
				<button class="about__play fancy-btn" data-width="640"
					data-height="360">
					<svg width="50" height="50" viewBox="0 0 50 50" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<rect width="50" height="50" rx="25" fill="#FDFDFD" fill-opacity="0.6" />
						<path
							d="M22.2427 17.6557C21.9639 17.4965 21.6482 17.4132 21.3271 17.4143C21.0061 17.4154 20.691 17.5008 20.4133 17.6619C20.1356 17.823 19.9051 18.0542 19.7448 18.3324C19.5845 18.6106 19.5001 18.926 19.5 19.247V30.7549C19.5001 31.0759 19.5845 31.3913 19.7448 31.6695C19.9051 31.9477 20.1356 32.1789 20.4133 32.34C20.691 32.5012 21.0061 32.5865 21.3271 32.5876C21.6482 32.5887 21.9639 32.5055 22.2427 32.3462L32.3113 26.5914C32.5917 26.431 32.8248 26.1993 32.9869 25.9199C33.1489 25.6404 33.2343 25.3231 33.2343 25C33.2343 24.677 33.1489 24.3597 32.9869 24.0802C32.8248 23.8008 32.5917 23.5691 32.3113 23.4087L22.2427 17.6557Z"
							fill="#1A3E3E" />
					</svg>
				</button>
			</div>
		</div>
		<div class="about__info">
			<div class="mb-40">
				<h3 class="subtitle mb-8">о нашем походе</h3>
				<h2 class="title about__title">Исследуйте все горные массивы мира вместе
					с&nbsp;нами</h2>
			</div>
			<p class="text-info about__text mb-40">
				Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э.,
				то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор
				латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял одно
				из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и
				занялся его поисками в&nbsp;классической латинской литературе.
			</p>
			<div class="about__link">
				<a href="404.html" title="Перейти к программе тура"
					class="btn btn--white-text btn--green-bg">Программа тура</a>
			</div>
		</div>
	</div>

</section>
