<section class="blog grey-section" id="blog">
	<div class="container" data-animation>
		<div class="title-center mb-40">
			<h3 class="subtitle mb-8">делимся впечатлениями</h3>
			<h2 class="title">Блог о путешествиях</h2>
		</div>
		<div class="blog__content " data-animate>
			<article class="card-blog appearance-block4" blog>
				<div class="card-blog__img">
					<img class="blog__img layz-blur" src="img/blog-1.jpg"
						srcset="img/blog-1-layz.jpg" data-src="img/blog-1.webp"
						alt="Фото из блога">
				</div>
				<div class="card-blog__info">
					<a href="404.html"
						class="card-blog__title decrease-text decrease-text--row-3">
						<h4>
							Красивая
							Италя, какая она
							в&nbsp;реальности?
						</h4>
					</a>
					<p class="card-blog__text decrease-text decrease-text--row-4">
						Для современного мира базовый вектор развития предполагает независимые
						способы реализации соответствующих условий активизации.
						Для современного мира базовый вектор развития предполагает независимые
						способы реализации соответствующих условий активизации.
					</p>
					<div class="card-blog__footer">
						<time class="card-blog__date" datetime="2023-04-01">01/04/2023</time>
						<button class="card-blog__btn">читать
							полностью</button>
					</div>
				</div>
			</article>
			<article class="card-blog appearance-block4" blog>
				<div class="card-blog__img">
					<img class="blog__img layz-blur" src="img/blog-2.jpg"
						srcset="img/blog-2-layz.jpg"
						data-src="img/blog-2.webp" alt="Фото из блога">
				</div>
				<div class="card-blog__info">
					<a href="404.html"
						class="card-blog__title decrease-text decrease-text--row-3">
						<h4>
							Долой
							сомнения! Весь мир открыт для вас!
						</h4>
					</a>
					<p class="card-blog__text decrease-text decrease-text--row-4">
						Для современного мира базовый вектор развития предполагает независимые
						способы реализации соответствующих условий активизации независимые
						способы реализации соответствующих условий активизации. Для современного
						мира базовый вектор развития предполагает независимые способы реализации
						соответствующих условий активизации независимые способы реализации
						соответствующих условий активизации ...
					</p>
					<div class="card-blog__footer">
						<time class="card-blog__date" datetime="2023-04-01">01/04/2023</time>
						<button class="card-blog__btn">читать
							полностью</button>
					</div>
				</div>
			</article>
			<article class="card-blog appearance-block5" blog>
				<div class="card-blog__img">
					<img class="blog__img layz-blur" src="img/blog-3.jpg"
						srcset="img/blog-3-layz.jpg"
						data-src="img/blog-3.webp" alt="Фото из блога">
				</div>
				<div class="card-blog__info">
					<a href="404.html"
						class="card-blog__title decrease-text decrease-text--row-3">
						<h4>
							Как
							подготовиться к&nbsp;путешествию в&nbsp;одиночку?
						</h4>
					</a>
					<p class="card-blog__text decrease-text decrease-text--row-4">
						Для современного мира базовый вектор развития предполагает.
					</p>
					<div class="card-blog__footer">
						<time class="card-blog__date" datetime="2023-04-01">01/04/2023</time>
						<button class="card-blog__btn">читать
							полностью</button>
					</div>
				</div>
			</article>
			<article class="card-blog appearance-block5" blog>
				<div class="card-blog__img">
					<img class="blog__img layz-blur" src="img/blog-4.jpg"
						srcset="img/blog-4-layz.jpg"
						data-src="img/blog-4.webp" alt="Фото из блога">
				</div>
				<div class="card-blog__info">
					<a href="404.html"
						class="card-blog__title decrease-text decrease-text--row-3">
						<h4>
							Индия
							...
							летим?
						</h4>
					</a>
					<p class="card-blog__text decrease-text decrease-text--row-4">
						Для современного мира базовый.
					</p>
					<div class="card-blog__footer">
						<time class="card-blog__date" datetime="2023-04-01">01/04/2023</time>
						<button class="card-blog__btn">читать
							полностью</button>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>
