<section class="destinations" id="destinations">
	<div class="container" data-animation>
		<div class="title-center mb-40">
			<h3 class="subtitle mb-8">по версии отдыхающих</h3>
			<h2 class="title">Популярные направления</h2>
		</div>
		<ul class="destinations__list mb-50" data-animate>
			<li class="destinations__item left-appearance-block" destinations>
				<picture>
					<source srcset="img/destinations-1.webp" type="image/webp">
					<img src="img/destinations-1.jpg" alt="Природа" class="destinations__img"
						loading="lazy">
				</picture>
				<div class="text-block">
					<div class="text-block__header mb-40">
						<div class="text-block__titles">
							<h4 class="text-block__main-title">Озеро возле гор</h4>
							<h5 class="text-block__subtitle">романтическое приключение</h5>
						</div>
						<div class="text-block__price">
							<span>480&nbsp;$</span>
						</div>
					</div>
					<p class="text-block__info decrease-text--row-12">
						Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года
						н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток,
						профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял
						одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum,
						&quot;consectetur&quot;и занялся его поисками в&nbsp;классической
						латинской литературе.
					</p>
					<div class="text-block__link">
						<a href="404.html" target="_blank" title="Перейти к программе тура"
							class="btn btn--white-text btn--green-bg ">Программа тура</a>
					</div>
				</div>
				<div class="raiting"><span>4.9</span></div>
			</li>
			<li class="destinations__item left-appearance-block2" destinations>
				<picture>
					<source srcset="img/destinations-2.webp" type="image/webp">
					<img src="img/destinations-2.jpg" alt="Природа" class="destinations__img"
						loading="lazy">
				</picture>
				<div class="text-block">
					<div class="text-block__header mb-40">
						<div class="text-block__titles">
							<h4 class="text-block__main-title">Ночь в горах</h4>
							<h5 class="text-block__subtitle">в компании друзей</h5>
						</div>
						<div class="text-block__price">
							<span>500&nbsp;$</span>
						</div>
					</div>
					<p class="text-block__info decrease-text--row-12">
						Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года
						н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток,
						профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял
						одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum,
						&quot;consectetur&quot;и занялся его поисками в&nbsp;классической
						латинской литературе.
					</p>
					<div class="text-block__link">
						<a href="404.html" target="_blank" title="Перейти к программе тура"
							class="btn btn--white-text btn--green-bg ">Программа тура</a>
					</div>
				</div>
				<div class="raiting"><span>4.9</span></div>
			</li>
			<li class="destinations__item left-appearance-block3" destinations>
				<picture>
					<source srcset="img/destinations-3.webp" type="image/webp">
					<img src="img/destinations-3.jpg" alt="Природа" class="destinations__img"
						loading="lazy">
				</picture>
				<div class="text-block">
					<div class="text-block__header mb-40">
						<div class="text-block__titles">
							<h4 class="text-block__main-title">Йога в горах</h4>
							<h5 class="text-block__subtitle">для тех, кто забоится о&nbsp;себе</h5>
						</div>
						<div class="text-block__price">
							<span>230&nbsp;$</span>
						</div>
					</div>
					<p class="text-block__info decrease-text decrease-text--row-12">
						Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года
						н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток,
						профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял
						одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum,
						&quot;consectetur&quot;и занялся его поисками в&nbsp;классической
						латинской литературе.
						Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года
						н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток,
						профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял
						одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum,
						&quot;consectetur&quot;и занялся его поисками в&nbsp;классической
						латинской литературе.
					</p>
					<div class="text-block__link">
						<a href="404.html" target="_blank" title="Перейти к программе тура"
							class="btn btn--white-text btn--green-bg ">Программа тура</a>
					</div>
				</div>
				<div class="raiting"><span>4.9</span></div>
			</li>
		</ul>
		<div class="center-item">
			<a href="404.html" title="Перейти на страницу рейтингов"
				class="btn btn--white-text btn--green-bg destinations__link">Рейтинг
				направлений</a>
		</div>
	</div>
</section>
