<header class="header ">
	<div class="container header__container">
		<button class="burger">
			<span class="burger__line"></span>
			<span class="burger__line"></span>
			<span class="burger__line burger__line--min"></span>
		</button>

		<div class="logo">
			<img src="img/svg/logo.svg" alt="Логотип">
		</div>
		<div class="header__left">
			<nav class="nav header__nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#main" class="nav__link" data-main-link>Главная</a>
						<a href="#main"
							class="nav__link-burger arrow-link">
							<span>Главная</span>
							<svg>
								<use xlink:href="#arrow"></use>
							</svg>
						</a>
					</li>
					<li class="nav__item">
						<a href="#gallery" class="nav__link" data-main-link>Галерея</a>
						<a href="#gallery" class="nav__link-burger arrow-link">
							<span>Галерея</span>
							<svg>
								<use xlink:href="#arrow"></use>
							</svg>
						</a>
					</li>
					<li class="nav__item">
						<a href="#programs" class="nav__link" data-main-link>Программа тура</a>
						<a href="#programs" class="nav__link-burger arrow-link">
							<span>Программа тура</span>
							<svg>
								<use xlink:href="#arrow"></use>
							</svg>
						</a>
					</li>
					<li class="nav__item">
						<a href="#destinations" class="nav__link" data-main-link>Направления</a>
						<a href="#destinations" class="nav__link-burger arrow-link">
							<span>Направления</span>
							<svg>
								<use xlink:href="#arrow"></use>
							</svg>
						</a>
					</li>
					<li class="nav__item">
						<a href="#blog" class="nav__link" data-main-link>Блог</a>
						<a href="#blog" class="nav__link-burger arrow-link">
							<span>Блог</span>
							<svg>
								<use xlink:href="#arrow"></use>
							</svg>
						</a>
					</li>
					<li class="nav__item">
						<a href="#contacts" class="nav__link" data-main-link>Контакты</a>
						<a href="#contacts" class="nav__link-burger arrow-link">
							<span>Контакты</span>
							<svg>
								<use xlink:href="#arrow"></use>
							</svg>
						</a>
					</li>
				</ul>
			</nav>
			<div class="consultation">
				<button
					class="consultation-btn btn btn--white-text btn--green-bg header__btn">Консультация</button>
			</div>
			<button class="close">
				<span class="close-line"></span>
				<span class="close-line"></span>
			</button>
		</div>
	</div>
</header>
