<section class="impressions" id="gallery">
	<div class="container" data-animation>
		<div class="title-center mb-40">
			<h3 class="subtitle mb-8">фото-отчет</h3>
			<h2 class="title">Делимся впечатлениями</h2>
		</div>
		<div class="grid-gallery mb-50">
			<ul class="grid-gallery__list">
				<li class="grid-gallery__item grid-gallery__item--big">
					<div class="grid-gallery__img">
						<img class="layz-blur" src="img/full1.jpg"
							alt="Фото из блога" loading="lazy" srcset="img/impressions-1-layz.jpg"
							data-src="img/impressions-1.webp">
					</div>
					<a
						data-index="0"
						class="grid-gallery__zoom">
						<img src="img/svg/zoom.svg">
					</a>
				</li>
				<li class="grid-gallery__item grid-gallery__item--standart">
					<div class="grid-gallery__img">
						<img class="layz-blur" src="img/full2.jpg"
							alt="Фото из блога" loading="lazy" srcset="img/impressions-2-layz.jpg"
							data-src="img/impressions-2.webp">
					</div>
					<a
						data-index="1"
						class="grid-gallery__zoom">
						<svg>
							<use xlink:href="#zoom"></use>
						</svg>
					</a>
				</li>
				<li class="grid-gallery__item grid-gallery__item--standart">
					<div class="grid-gallery__img">
						<img class="layz-blur" src="img/full3.jpg"
							alt="Фото из блога" loading="lazy" srcset="img/impressions-3-layz.jpg"
							data-src="img/impressions-3.webp">
					</div>
					<a
						data-index="2"
						class="grid-gallery__zoom">
						<svg>
							<use xlink:href="#zoom"></use>
						</svg>
					</a>
				</li>
				<li class="grid-gallery__item grid-gallery__item--standart">
					<div class="grid-gallery__img">
						<img class="layz-blur" src="img/full4.jpg"
							alt="Фото из блога" loading="lazy" srcset="img/impressions-4-layz.jpg"
							data-src="img/impressions-4.webp">
					</div>
					<a
						data-index="3"
						class="grid-gallery__zoom">
						<svg>
							<use xlink:href="#zoom"></use>
						</svg>
					</a>
				</li>
				<li class="grid-gallery__item grid-gallery__item--big">
					<div class="grid-gallery__img">
						<img class="layz-blur" src="img/full5.jpg"
							alt="Фото из блога" loading="lazy" srcset="img/impressions-5-layz.jpg"
							data-src="img/impressions-5.webp">
					</div>
					<a
						data-index="4"
						class="grid-gallery__zoom">
						<svg>
							<use xlink:href="#zoom"></use>
						</svg>
					</a>
				</li>
				<li class="grid-gallery__item grid-gallery__item--standart">
					<div class="grid-gallery__img">
						<img class="layz-blur" src="img/full6.jpg"
							alt="Фото из блога" loading="lazy" srcset="img/impressions-6-layz.jpg"
							data-src="img/impressions-6.webp">
					</div>
					<a
						data-index="5"
						class="grid-gallery__zoom">
						<svg>
							<use xlink:href="#zoom"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<div class="impressions__link center-item">
			<a href="https://ru.pinterest.com/" title="Перейти на сайт pinterest"
				target="_blank"
				class="btn btn--white-text btn--green-bg">Наш pinterest</a>
		</div>
	</div>
</section>
