<div class="modal modal--hidden" data-overlay>
	<div class="modal__container">
		<div class="decor">
			<span class="decor-1"></span>
			<span class="decor-2"></span>
			<span class="decor-3"></span>
			<span class="decor-4"></span>
			<span class="decor-5"></span>
		</div>
		<div class="modal__header">
			<h3 class="modal__title">РумТибет</h3>
			<span class="modal__action">Вход в личный кабинет</span>
		</div>
		<form class="modal__form">
			<input type="email" class="modal__email" placeholder="Email">
			<div class="modal__password">
				<input type="password" id="password" placeholder="Password">
				<button class="show-hide-password">
					<svg data-status="hide">
						<use xlink:href="#hide"></use>
					</svg>
					<svg class="hide-password" data-status="view">
						<use xlink:href="#view"></use>
					</svg>
				</button>
			</div>
			<div class="modal__help mb-40">
				<div class="modal__remember">
					<label class="checkbox">
						<input type="checkbox">
						<div class="checkbox-castom"></div>
						Запомнить меня
					</label>
				</div>
				<div class="modal__forgot">
					<a href="404.html">Забыл пароль?</a>
				</div>
			</div>
			<button class="modal__btn btn btn--white-bg btn--green-text btn--bold">Войти</button>
			<button class="close modal__close">
				<span class="close-line"></span>
				<span class="close-line"></span>
			</button>
		</form>
	</div>
</div>
