<section class="programs grey-section" id="programs">
	<div class="container" data-animation>
		<div class="mb-40 programs__titles">
			<h3 class="subtitle mb-8">наше предложение</h3>
			<h2 class="title">Лучшие программы для тебя</h2>
		</div>
		<div class="container-flex programs__container">
			<div class="programs__content">
				<div class="programs__info">
					<p class="text-info">Его корни уходят в&nbsp;один фрагмент классической
						латыни 45&nbsp;года
						н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток,
						профессор латыни из&nbsp;колледжа.</p>
					<ul class="programs__list mb-40">
						<li class="programs__item">
							<img src="img/guid.jpg" alt="Иконка гида" class="programs__img">
							<div class="programs__block-text">
								<h4 class="programs__text-title">Опытный гид</h4>
								<p class="gorrams__text-info text-info--fz-14">Для современного мира
									базовый вектор
									развития предполагает независимые способы реализации соответствующих
									условий активизации.</p>
							</div>
						</li>
						<li class="programs__item">
							<img src="img/hike.jpg" alt="Иконка гида" class="programs__img">
							<div class="programs__block-text">
								<h4 class="programs__text-title">Безопасный поход</h4>
								<p class="gorrams__text-info text-info--fz-14">Для современного мира
									базовый вектор
									развития предполагает независимые способы реализации соответствующих
									условий активизации.</p>
							</div>
						</li>
						<li class="programs__item">
							<img src="img/prices.jpg" alt="Иконка гида" class="programs__img">
							<div class="programs__block-text">
								<h4 class="programs__text-title">Лояльные цены</h4>
								<p class="gorrams__text-info text-info--fz-14">Для современного мира
									базовый вектор
									развития предполагает независимые способы реализации соответствующих
									условий активизации.</p>
							</div>
						</li>
					</ul>
					<div class="programs__link">
						<a href="404.html" title="Перейти к странице со стоимостью"
							class="btn btn--white-text btn--green-bg">Стоимость программ</a>
					</div>
				</div>
			</div>
			<div class="programs__gallery">
				<div class="programs__gallery-item">
					<img srcset="img/program-1-layz.jpg" data-src alt="
						Изображение из программы"
						class="programs__gallery-img layz-blur" src="img/program-1.jpg"
						data-src="img/program-1.webp" loading="lazy">
				</div>
				<div class="programs__gallery-item">
					<img src="img/program-2.jpg" alt="Изображение из программы"
						class="programs__gallery-img layz-blur" srcset="img/program-2-layz.jpg"
						data-src="img/program-2.webp" loading="lazy">
				</div>
				<div class="programs__gallery-item">
					<img src="img/program-3.jpg" alt="Изображение из программы"
						class="programs__gallery-img layz-blur" srcset="img/program-3-layz.jpg"
						data-src="img/program-3.webp" loading="lazy">
				</div>
				<div class="programs__gallery-item">
					<img src="img/program-4.jpg" alt="Изображение из программы"
						class="programs__gallery-img layz-blur" srcset="img/program-4-layz.jpg"
						data-src="img/program-4.webp" loading="lazy">
				</div>
			</div>
		</div>
	</div>
</section>
