:root {
	/* базовые */
	--font-family: 'NunitoSans', sans-serif;
	--main-font-size: 18px;

	/* цвета */
	--white: #fdfdfd;
	--white-hover: #f1f1f1;
	--cinder: #18121e;
	--papa-green: #1a3e3e;
	--papa-green-hover: #2b6969;
	--saffron: #f2be22;
	--black-haze: #f3f5f4;


	/* отсутпы title */
	--100-indent: 100px;
	--80-indent: 80px;
	--50-indent: 50px;
	--40-indent: 40px;
	--20-indent: 20px;
	--8-indent: 8px;

	/* р-р шрифтов */
	--fz-32: 32px;
	--fz-26: 26px;
	--fz-24: 24px;
	--fz-20: 20px;
	--fz-18: 18px;
	--fz-16: 16px;
	--fz-14: 14px;
}
